.weather-app {
  background-color: lightgrey;
  width: 100%;
  height: 100vh;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    #name {
      margin-bottom: 10px;
    }

    button {
      cursor: pointer;
      margin-top: 10px;
      border: none;
      background-color: lightgrey;
    }
  }

  .show-weather {
    ul {
      list-style-type: none;

      li {
        text-transform: capitalize;
        border: 1px solid black;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }

    .weather-preview {
      background-color: #fff;
      text-transform: capitalize;
      border: 1px solid black;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
